@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap");
:root {
  --main-color: #870076;
  --secondary-color: #FFB574;
  --ternary-color: #FFE09D;
  --main-yellow: #FFFFC3;
  --main-white: #fff;
  --main-black: #333;
  --main-grey: #ececec;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--main-black);
  background-color: var(--main-grey);
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background-color: var(--main-grey);
  opacity: .95;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}

.navbar-icon {
  font-size: 1.6rem;
  color: var(--main-color);
}

.navbar-logo {
  height: 80px;
}

.navbar .cart-btn {
  position: relative;
  cursor: pointer;
}

.navbar .cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--secondary-color);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--main-white);
}

.hero {
  min-height: calc(100vh - 90px);
  background: url(../img/hero-bg.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .banner {
  text-align: center;
  background-color: var(--main-yellow);
  display: inline-block;
  padding: 2rem;
  opacity: .80;
}

.hero .banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  cursor: pointer;
}

.banner-btn a {
  text-decoration: none;
  color: var(--main-yellow);
}

.banner-btn:hover {
  background-color: transparent;
}

.banner-btn:hover a {
  color: var(--main-color);
}

.products {
  padding: 4rem 0;
}

.products .section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0 3rem 0;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.products .products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.products .img-container {
  position: relative;
  overflow: hidden;
}

.products .bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background-color: var(--main-color);
  border: none;
  text-transform: uppercase;
  padding: .5rem .75rem;
  letter-spacing: 2px;
  font-weight: 900;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  cursor: pointer;
}

.products .bag-btn:hover {
  color: var(--main-white);
}

.products .fa-shopping-cart {
  margin-right: .5rem;
}

.products .img-container:hover .bag-btn {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.products .product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.products .img-container:hover .product-img {
  opacity: .5;
}

.products .product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 2px;
  text-align: center;
}

.products .product h4 {
  margin-top: .7rem;
  letter-spacing: 2px;
  color: var(--main-color);
  text-align: center;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart-overlay .cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 33%;
  height: 100%;
  overflow: scroll;
  background: #e7e2dd;
  z-index: 3;
  padding: 1.5rem;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  min-width: 450px;
}

.showCart {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.transparentBcg {
  visibility: visible;
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: .85rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.cart-item h5 {
  margin: .5rem 0;
  letter-spacing: 2px;
}

.cart-item .item-amount {
  text-align: center;
}

.cart-item .remove-item {
  color: grey;
  cursor: pointer;
}

.cart-item .fa-chevron-up,
.cart-item .fa-chevron-down {
  color: var(--main-color);
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=main.css.map */